#!/usr/bin/perl

# squidGuard Reports.
# Copyright (C) 2019  Ramón Román Castro <ramonromancastro@gmail.com>

# This program is free software; you can redistribute it and/or
# modify it under the terms of the GNU General Public License
# as published by the Free Software Foundation; either version 2
# of the License, or (at your option) any later version.

# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.

# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

# -------------------- GLOBAL VARIABLES  ---------------------------

# Ruta de acceso al archivo de configuración de squidGuard
$squidGuardConf = "/etc/squid/squidGuard.conf";

# Ruta de destino para los archivos parseados de squidGuard
$reportpath = "/var/www/html/squidguard/report";

# Líneas procesadas para mostrar un mensaje de progreso
$linesProcessed = 1000;

# Habilitar/deshabilitar mensajes de depuración
$debug = 1;